[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioprocessing = "*"
pyqrcode = "*"
pynacl = "*"
asyncpg = "*"
aiohttp = {extras = [ "speedups",], version = "*"}
mobilecoin = "*"
base58 = "*"
# sylv additions
phonenumbers = "*"
termcolor = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
isort = "*"
black = "*"

[scripts]
gendocs = "pdoc --config sort_identifiers=False --force --html -o docs forest/*"
genindex = "'./docs/gen_index.sh $PWD/docs/ /forest-draft/ forestcontact.github.io' | grep -v __init__ > ./docs/index.html"
